version: '3.8'
services:
  db:
    image: "nouchka/sqlite3"
    restart: unless-stopped
  backend:
    build: ./backend
    ports:
      - "4000:4000"
    depends_on:
      - db
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
